#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* row 0: col0..col15 */
                  &none     &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &none   &none     &trans   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0     &none
                  &none      &kp ESC  &kp Q    &kp W    &kp E    &kp R    &kp T     &kp LALT   &kp LALT &kp Y    &kp U    &kp I    &kp O    &kp P     &kp BKSP
                  &none      &kp TAB  &kp A    &kp S    &kp D    &kp F    &kp G  &trans     &trans   &kp H    &kp J    &kp K    &kp L    &kp SCLN  &kp RET
                  &kp THUMB0 &kp LSHFT&kp Z    &kp X    &kp C    &kp V    &kp B  &kp THUMB1 &kp THUMB2& &kp N    &kp M    &kp COMMA &kp DOT  &kp SLSH  &bt BT_CLR
            >;
        };

        lower_layer {
            bindings = <
                  &none       &trans       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &trans      &trans       &trans      &trans      &trans      &bt BT_CLR  &trans      &trans      &none
                  &none       &trans       &trans      &trans      &trans      &trans      &trans     &trans      &trans       &trans      &trans      &trans      &trans      &trans      &trans      &none
                  &none       &trans       &trans      &kp LPAR    &kp RPAR    &trans      &trans     &kp LBKT    &kp RBKT     &kp MINUS   &kp EQUAL   &trans      &trans      &trans      &trans      &none
                  &none       &trans       &trans      &trans      &trans      &trans      &trans     &trans      &trans       &trans      &trans      &trans      &trans      &trans      &trans      &none
            >;
        };
    };
};

